
/*Imports*/
/*============================================*/
@import url("font-awesome.min.css");

/*Global Settings*/
/*=================================================================================================*/
* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
body { overflow: hidden; }

a { text-decoration: none;color: #555;transition: .7s; }
a:hover,
a:focus { color: #55ABDA; }

/*Framework*/
/*===================================================================================================*/

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
	width: 95%;
}

.clearfix { clear: both; }

.active { color: #55ABDA !important; }

.img-responsive { width: 100%;height: 100% }

@media (min-width: 978px) {

	.container { width: 978px }

}
@media (max-width: 900px) {

	.sm-hidden { display: none; }

}

/*Colors*/
/*======================================================================================*/

/*	#1E1E1E background-color  */
body,
main .students .s-img-holder,
main .news .n-container .img { background-color: #1E1E1E !important; }

/*  #555 color  */
body,
main .site-links .links-block a:hover,
.news p.tail a:hover,
main .students h3 a:hover,
main .students h3 a:focus,
main .tour .video span:hover,
section.gallery .description span a:hover,
section.gallery .description span a:focus,
.mobile-menu,
section.gallery .img_links_holder .img_link,
section.gallery .description,
footer .footer-content-holder,
main .social-links .social-link a { color: #555 !important; }

main .tour .info > div > div,
footer .footer-content-holder button:hover { background-color: #555 !important; }

/*	#888 color  */
.logo_div .logo h4 { color: #888 !important; }

/*  #55ABDA color  */
main .students h3 a,
main .tour .video span,
section.gallery .description span a,
main .social-links .social-link a:hover,
footer .footer-content-holder button:hover,
.top_links ul li a:hover,
.top_links ul li a:focus,
.mobile-menu .inner-m-menu > ul > li a:hover,
.mobile-menu .inner-m-menu > ul > li a:focus,
main .news p.tail a,
main .site-links .links-block a { color: #55ABDA !important; }

/*  #F9F9F9 color  */
.top_links ul,
.top_links ul li a,
.logo_div .logo a,
.logo_div .search_box button,
#dropdown li > a,
#pages li > a,
.mobile-menu .inner-m-menu > ul > li a,
section.gallery .img_links_holder .img_link:hover,
section.gallery .img_links_holder .active,
main .tour .info > div > div,
footer .copy,
section.gallery .description:hover  { color: #F9F9F9 !important; }

/*  #DDD background-color  */
.loader,
main .news .n-container,
main .social-links { background-color: #DDD !important; }

/*  #F9F9F9 background-color  */
.loader-container, .menu,
.mobile-menu,
section.gallery .gallery_container,
section.gallery .gallery_container .img_links_holder,
main .main_content_holder,
footer .footer-content-holder { background-color: #F9F9F9 !important; }

/*	#55ABDA background-color  */
.loading,
.logo_div .search_box button,
#pages li > a:hover,
#pages li > a:focus,
#dropdown li > a:focus,
#dropdown li > a:hover,
section.gallery .img_links_holder .img_link:hover,
section.gallery .img_links_holder .active,
main .tour .info > div:hover > div,
footer .footer-content-holder button { background-color: #55ABDA !important; }

/*  rgba(0,0,0,0.6) background-color  */
#pages, 
#dropdown,
#dropdown-l2,
.mobile-menu .inner-m-menu > ul,
section.gallery .description:hover { background-color: rgba(0,0,0,0.6) !important; }

section.gallery .description { background-color: #F9F9F9AA; }

/*Styles*/
/*===========================================================================================*/

/************** Loader style *******************/
.loader { position: fixed;z-index: 100000;width: 100%;height: 100%; }
.loader-container { 
	width: 150px;
	height: 8px;
	margin: auto;
	position: relative;
	border-radius: 3px;
	overflow: hidden;
	margin-top: 38%; }
.loading { 
	width: 35%;
	height: 100%;
	animation-name: loader;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	position: absolute;
	border-radius: 3px; }		

/*********** Top links style *************/
.top_links { overflow: hidden; }
.top_links ul { 
	list-style: none;
	font-size: 12px;
	width: 343px;
	float: right;
	background-color: transparent;
	padding-top: 10px;
	overflow: hidden; }
.top_links ul li { float: left;margin: 3px;}
.top_links ul li:after { content: "|";padding: 5px; }
.top_links ul li:last-child:after { content: "";padding: 0px; }
.top_links ul li a { text-decoration: none; }

/*********** End Top links style R*************/

/************** Logo & search box style ****************/
.logo_div { padding-top: 20px; }
.logo_div .logo { width: 50%;text-align: left;float: left;margin-bottom: 10px;}
.logo_div .logo a { text-decoration: none; }
.logo_div .logo a h1 {
 font-size: 38px;
 font-variant: small-caps;
 line-height: 33px; }
.logo_div .logo h4 { font-weight: 500; }

.logo_div .search_box { 
	width: 50%;
	text-align:right;
	float: right; }

.logo_div .search_box form { 
	width: 250px;
	overflow: hidden;
	float: right; }

.logo_div .search_box input { 
	height: 32px;
	width: 210px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border: none;
	padding-left: 5px;
	font-family: serif;
	font-size: 15px;
	float: left;
	outline: none; }
.logo_div .search_box button { 
	height: 32px;
	width: 40px;
	position: relative;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border: none;
	font-size: 16px;
	font-weight: 900;
	padding-bottom: 3px;
	outline: none;
	cursor: pointer; }
/************** End Logo & search box style ****************/

/*************** Menu style *******************/
.menu { 
	border-radius: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 15px; }
.menu ul { list-style: none; }
.menu > ul > li { 
	float: left;
	min-width: calc(100% / 7);
	text-align: center;
	text-transform: capitalize;
	position: relative; }
#pages, 
#dropdown,
#dropdown-l2 { 
	position: absolute;
	display: block;
	top: 20px;
	border-radius: 10px;
	display: none;
	text-align: left;
	z-index: 1000; }
a.drop:before,
#dropdown-l2-p > a:before { content: "\f0d7"; } 
#dropdown-l2 { top: 0px;left: 100%; }	
#dropdown-l2-p { position: relative; }	
#dropdown { left: 10px; }
#pages { left: 30px; }	
#pages li > a,
#dropdown li > a {
	font-size: 14px;
	display: block;
	width: 170px;
	border-bottom: 1px solid #555;
	padding: 20px 10px; }
.f-l{ border-radius: 8px 8px 0px 0px; }
.l-l{ border-radius: 0px 0px 8px 8px;border: none;} 	

.menu > ul > li a.drop .dropdown-menu#dropdown > li:last-child:after { content: '\f0d7'}
.menu > ul > li a.drop .dropdown-menu#dropdown > li:last-child { position: relative; }
.menu > ul > li a.drop .dropdown-menu#dropdown > li:last-child ul { position: absolute;left: 175px; } 

/*Mobile  menu style*/
/*=================================================================================================================*/
.mobile-menu { border-radius: 8px;padding: 10px;margin-top: 20px; }
.mobile-menu .inner-m-menu { 
	position: relative;
	border: 1px solid #ddd;
	padding: 5px;
	text-transform:uppercase;
	cursor: pointer; }
.mobile-menu .inner-m-menu:after { content: "\f0d7";position: absolute;right: 3px; }	
.mobile-menu .inner-m-menu > ul { 
	position: absolute;
	list-style: none;
	padding: 5PX;
	left: 0PX;
	top: 100%;
	width: 100%;
	display: none;
	z-index: 1000;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px; }
.mobile-menu .inner-m-menu > ul > li { padding: 10px;}
.mobile-menu .inner-m-menu > ul > li:last-child { border-bottom-left-radius: 8px;border-bottom-right-radius: 8px; }	

/*************** Gallery style *******************/
section.gallery { overflow: hidden;padding: 20px 0px;}
section.gallery .gallery_container { 
	padding: 10px;
	border-radius: 8px;
	height: 500px;
	overflow: hidden; }
section.gallery .gallery_container .img_holder { 
	border-radius: 8px;
	position: relative;
	overflow: hidden;
	height: 100%;
	background-image: url("../img/g1.jpg");
	background-size: cover;
	background-position: center;
	transition: 1s; }
section.gallery .gallery_container .img_links_holder {
	position: absolute;
	bottom: 0px;
	left: 0px;
	overflow: hidden; }
section.gallery .img_links_holder .img_link { 
	float: left;
	border:1px solid #ddd;
	border-top: none;
	width: calc(100% / 5);
	height: 100%;
	padding: 10px 5px;
	text-align: center;
	text-transform: uppercase;
	font-size:14px;
	font-weight: 700;
	transition: 1s; }
section.gallery .img_links_holder .img_link:hover,
section.gallery .img_links_holder .active { cursor: pointer; }	 
section.gallery .description { 
	position: absolute;
	top: 20px;
	left: 20px;
	width: 300px;
	height: 200px;
	padding: 15px;
	border-radius: 8px; }
section.gallery .description h3 { font-size: 22px;margin-bottom: 20px;padding-top: 8px }
section.gallery .description span a{ display: block;text-align: right;}

/*************** Main content style *******************/
main .main_content_holder,
footer .footer-content-holder { padding: 10px;border-radius: 8px; }
main .students,main .news,main .tour { width: 23%;float: left;overflow: hidden;padding: 8px; }
main .news { width: 52%; }
main .tour { width: 25%; }
main .students h3,
main .news h3,
main .tour h3 ,
main .social-links h3,
main .site-links h3 { border-bottom: 1px solid #888;padding: 10px 0px;font-size: 23px; }
main .students > div { margin-top: 20px; }
main .students > div h3 { font-size: 18px }
main .students .s-img-holder { 
		padding: 8px;
		border:1px solid #888;
		width: 90%;
		height: 90px;
		margin-top: 10px; }
main .students .s-img-holder .s-img { border: 1px solid #888;height: 100%; }
main .news .n-container { margin-top: 20px; }
main .news .n-container .img { 
		width: 40%;
		height: 150px;
		float: left;
		padding: 8px;
		border: 1px solid #888;}
main .news .n-container .img img { object-fit: cover;border: 1px solid #888; }
main .news .text { 
	width: 60%;
	float: left;
	padding: 0px  20px; }
main .news .text h4 { padding: 20px 0px; }
main .news .text p { overflow: auto; }
main .news p.tail { font-size: 18px;padding: 20px 0px;text-align: center;}
main .tour .video { padding-top: 20px; }
main .tour .video video { width: 100%;height: 200px; }
main .tour .video span { display: block;padding: 10px 0px;transition: .6s }
main .tour .info h3 { margin-bottom: 20px; }
main .tour .info > div { 
	position: relative;
	height: 80px;
	background-image: url("../img/s-img.gif");
	margin-bottom: 10px; }
main .tour .info > div:hover { cursor: pointer; }	
main .tour .info > div > div { 
	width: 60%;
	height: 100%;
	position: absolute;
	right: 0px;
	text-align: center;
	padding: 24px 3px;
	text-transform: uppercase;
	font-size: 14px;
	transition: .8s; }	
main .social-links h3 { font-size: 23px;text-align: center;width: 200px;margin: auto; }
main .social-links .social-link { width: 25%;float: left;padding: 30px 0px;text-align: center; }
main .site-links h3 { text-align: center; }
main .site-links .links-block { width: 25%;float: left;padding: 20px 0px; }
main .site-links .links-block a { display: block; }

/***************** footer style **************************/
footer { margin: 20px 0px; }
footer .footer-content-holder > div { width: 33.33333%;float: left;padding: 20px 0px; }
footer .footer-content-holder h4 { margin-bottom: 10px; }
footer .footer-content-holder .address span { display: block; }
footer .footer-content-holder .address span:first-of-type { margin-top: 10px; }
footer .footer-content-holder .subscribe h4{ font-size: 18px;margin-bottom: 20px; }
footer .footer-content-holder input { 
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	outline: none;
	border: 1px solid #888;
	border-right: none;
	width: 70%;
	height: 30px;
	float: left;
	padding-left: 8px; }
footer .footer-content-holder button {
	width: 20%;
	height: 30px;
	border: 1px solid #888;
	border-left: none;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	cursor: pointer;}

/************* Copy rights style ****************/
footer .copy { padding: 20px 0px 0px;}
footer .copy span { display: block;float: left; }
footer .copy span:first-of-type { width: 60% }
footer .copy span:last-of-type { text-align: right;width: 40% }

/*********** Media query fixes **************/

@media (min-width: 900px) {

	.mobile-menu { display: none; }

	section.gallery .img_links_holder { height: 15%; }

}

@media (max-width: 900px){

	.top_links ul { float: none; margin: auto; }

	.logo_div { padding-top: 0px; }
	.logo_div .logo a h1 { margin-bottom: 3px; }
	.logo_div .logo,
	.logo_div .search_box { width: 100%;text-align: center;	padding-top: 20px; }
	.logo_div .search_box form { margin: auto;float: none; }

	.menu { display: none; }
	
	section.gallery .gallery_container { height: 500PX }
	section.gallery .gallery_container .img_holder {  }
	section.gallery .img_links_holder .img_link { width: 100%;height: 40px;padding: 10px; }
	section.gallery .img_links_holder .img_link a { vertical-align: sub;font-size: 12px }

	main .students,main .news,main .tour { width: 100%; }
	main .students > div { width: 33.33333%;float: left; }
	main .students h3 { width: 98%;font-size: 2.5vw; }
	main .tour .video video { height: 400px; }
	main .tour .info > div { width: 49%;float: left; }
	main .tour .info > div:first-of-type { margin-right: 2%; }


}

@media (max-width: 700px) {

	main .site-links .links-block { width: 50%; }
	footer .footer-content-holder > div { width: 100% }

}

@media (max-width: 500px) {

	section.gallery .img_links_holder .img_link { font-size: 12px;padding: 10px 5px } 

	main .students > div { width: 80%;float: none; }
	main .students h3 { font-size: 24px; }
	main .students > div h3 { font-size: 18px; }
	main .news .n-container { background-color: transparent !important; }
	main .news .n-container .img { width: 60%; }
	main .news .n-container .text { width: 100%;padding: 20px 0px; }
	main .tour .video video { height: 250px }
	main .tour .info > div { width: 100%;float: none; }
    main .site-links .links-block {width: 100%;}

    footer .copy span:last-of-type,
    footer .copy span:first-of-type { width: 100%;text-align: center;margin-bottom: 5px; }
}


/*Animation*/

@keyframes loader {
	0%,100% {
		transform: translateX(185.714285714%);
	}
	50% {
		transform: translateX(0%);
	}
}
